@charset "utf-8";
/* reset css start */

* {
  text-shadow: 0 0 1px rgba(140, 140, 140, 0.4) !important;
}

body {
  overflow-x: hidden;
  margin: 0;
  font-size: 14px;
  font-family: "Microsoft YaHei", "微软雅黑", "Hiragino Sans GB", "Hiragino Sans GB W3", Arial, sans-serif;
}

pre, code {
  font-family: "Microsoft YaHei Mono", "Lucida Console", 'SourceCodePro-Medium', monaco, inconsolata, consolas, monospace;
}

ol, ul, li, h1, h2, h3, h4, h5, h6, img, input, dl, dt, dd, p, textarea, pre, code {
  padding: 0;
  margin: 0;
  list-style: none;
  border: none;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

a {
  text-decoration: none;
}

a:focus, input:focus, textarea:focus, button:focus {
  outline: none;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

.clearfix {
  *zoom: 1;
}

.clearfix:after {
  content: " ";
  display: block;
  height: 0;
  visibility: hidden;
  clear: both;
}

/* reset css end */