doctype html
html(lang="zh-cmn-Hans")
    block vars
    head
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
        meta(name="renderer", content="webkit")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        block head
            title 自定义页面头部信息
        <!--STYLE_PLACEHOLDER-->
    body

        block content

        block footer

        <!--RESOURCEMAP_PLACEHOLDER-->
        <!--SCRIPT_PLACEHOLDER-->
        //-script(src="../js/global.js" inline)
        block script