@keyframes scale {
  0% {
    transform: scale(1);
    transition-timing-function: ease-out
  }
  50% {
    transform: scale(1.2);
    transition-timing-function: ease-out
  }
  100% {
    transform: scale(1);
    transition-timing-function: ease-out
  }
}